 body,
html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: lightpink;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.name {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

span {
    color: #c51994;
}

.navlists {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navlists a {
    color: #c51994;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}

.navlists a:hover {
    color: #f5f5f5;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #c51994;
    margin: 4px;
    transition: all 0.3s;
}

#home,
#about,
#skills,
#contact,
#education {
    margin: 10px;
    width: 100%;
    border-radius: 6px;
}

.container {
    display: flex;
    height: 450px;
    text-align: center;
    align-items: center;

    img {
        height: 350px;
    }

}

.intro,
.us {
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    padding: 10% 5%;
    font-weight: 700;
}

#home {
    margin-top: 80px;
    background-color: #c51994;

    h1 {
        color: lightpink;
        font-weight: 1000;
    }

    p {
        color: purple;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

    a {
        background-color: lightpink;
        color: #c51994;
        border: white;
    }

    a:hover {
        color: lightpink;
        background-color: purple;
    }
}

#about {
    background-color: #c51994;

    h2 {
        color: lightpink;
        font-weight: 1000;
    }

    p {
        color: purple;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }
}

.containers {
    height: 450px;

    h2 {
        text-align: center;
        color: lightpink;
        font-weight: 1000;
    }
}

.skill {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    background-color: #c51994;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 200px;
    flex: 1 1 calc(33.33% - 20px);
}

.box img {
    max-width: 30%;
    max-height: 25%;
    height: auto;
    width: auto;
}

.box p {
    text-align: center;
    color: purple;
    font-weight: 800;
}

.box h6 {
    color: lightpink;
}

#skills {
    background-color: #c51994;
}

#contact {
    background-color: #c51994;
}

#contact .container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 6px;
}

#contact .rabta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact .rabta .tab {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact input::placeholder {
    color: #999;
}


#contact .message input {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact .contact-info {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: lightpink;
    font-weight: bold;
}


#contact .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

#contact .social-links a {
    color: lightpink;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

#contact .social-links a i {
    font-size: 24px;
    margin-right: 8px;
    font-weight: 500px;
}

#contact h2 {
    color: lightpink;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 20px;
}

#contact .btn-submit {
    background-color: #c51994;
    color: lightpink;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

#contact .btn-submit:hover {
    background-color: purple;
}

#education {
    background-color: #c51994;
}

.container1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    list-style-position: inside;

    h2 {
        color: lightpink;
        font-weight: 1000;
    }

    li {
        color: purple;
        font-weight: 800;
    }
}

.hamburger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
} 



/* body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: lightpink;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.name {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

span {
    color: #c51994;
}

.navlists {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navlists a {
    color: #c51994;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}

.navlists a:hover {
    color: #f5f5f5;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #c51994;
    margin: 4px;
    transition: all 0.3s;
}

#home,
#about,
#skills,
#contact,
#education {
    margin: 10px;
    width: 100%;
    border-radius: 6px;
    padding: 50px 10%;
    box-sizing: border-box;
}

#home {
    margin-top: 80px;
    background-color: #c51994;
    color: lightpink;
}

#about,
#skills,
#contact,
#education {
    background-color: #c51994;
    color: lightpink;
}

.container {
    display: flex;
    height: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro,
.us {
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    padding: 10% 5%;
    font-weight: 700;
}

.skill {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    background-color: #c51994;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 200px;
    flex: 1 1 calc(33.33% - 20px);
}

.box img {
    max-width: 30%;
    max-height: 25%;
    height: auto;
    width: auto;
}

.box p {
    text-align: center;
    color: purple;
    font-weight: 800;
}

.box h6 {
    color: lightpink;
}

#contact .container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 6px;
}

#contact .rabta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact .rabta .tab {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact input::placeholder {
    color: #999;
}

#contact .message input {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact .contact-info {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: lightpink;
    font-weight: bold;
}

#contact .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

#contact .social-links a {
    color: lightpink;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

#contact .social-links a i {
    font-size: 24px;
    margin-right: 8px;
    font-weight: 500px;
}

#contact h2 {
    color: lightpink;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 20px;
}

#contact .btn-submit {
    background-color: #c51994;
    color: lightpink;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

#contact .btn-submit:hover {
    background-color: purple;
}

.container1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    list-style-position: inside;
}

.hamburger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
} */

/* Responsive Styling */
@media (max-width: 768px) {
    .navlists {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: lightpink;
        padding: 0;
    }

    .navlists a {
        padding: 15px;
        border-top: 1px solid #ccc;
    }

    .navlists a:first-child {
        border-top: none;
    }

    .hamburger {
        display: flex;
    }

    .navlists.active {
        display: flex;
    }

    .container {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .skill {
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
    }

    .box {
        width: 100%;
        max-width: none;
    }

    #home, #about, #skills, #contact, #education {
        padding: 20px 5%;
    }
}
